html {
  font-size: 62.5%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f3f3f3;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* New game */

.game {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game--new {
  display: flex;
}

.game--new__logo {
  display: flex;
  gap: 2rem;
  margin-bottom: 12rem;
}

.game--new__icon {
  width: 11.88rem;
  height: 11.88rem;
}

.typography {
  text-align: center;
}

.typography--heading-xl {
  font-size: 8.8rem;
  font-weight: 900;
  margin-bottom: 2rem;
}

.typography--heading-m {
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.43;
  margin-bottom: 4.8rem;
}

.button {
  cursor: pointer;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000416;
  font-size: 2rem;
  font-weight: 500;
  border-radius: 999px;
  transition: background-color 0.2s ease;
  padding: 1.6rem 1.2rem;
  max-width: 52rem;
  width: 100%;
}

.button--primary {
  background-color: #4fc3f7;
}

.button--primary:hover {
  background-color: #81d4fa;
}

/* Start game */

.game--start {
  display: none;
}

.typography--heading-s {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 5.4rem;
}

.pick-box {
  background-color: #fff;
  padding: 4rem 8.72rem 3.8rem;
  border-radius: 1.6rem;
  margin-bottom: 5.4rem;
}

.pick-box__choices {
  display: flex;
  justify-content: space-between;
  gap: 16.76rem;
  margin-bottom: 4rem;
}

.pick-box__choice {
  display: flex;
  flex-direction: column;
  gap: 6.29rem;
}

.choice__icon {
  width: 8.91rem;
  height: 8.91rem;
}

.typography--text {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.33;
  text-transform: uppercase;
}

/* Play game */

.game--play {
  display: none;
  max-width: 52rem;
  width: 100%;
}

.game--play__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.2rem;
}

.game--play__logo {
  display: flex;
  align-items: center;
  gap: 0.52rem;
}

.game--play__icon {
  width: 2.97rem;
  height: 2.97rem;
}

.game--play__turn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.88rem;
  padding: 2.4rem 0;
  border-radius: 1.6rem;
  background-color: #fff;
  width: 23.7rem;
}

.turn__icon {
  width: 1.86rem;
  height: 1.86rem;
}

.game--play__board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  padding: 3.2rem;
  border-radius: 1.6rem;
  background-color: #fff;
  margin-bottom: 2.4rem;
  position: relative;
}

.board__box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.4rem;
}

.board__box--0 {
  border-right: 1px solid #c3c3c3;
  border-bottom: 1px solid #c3c3c3;
}

.board__box--1 {
  border-left: 1px solid #c3c3c3;
  border-right: 1px solid #c3c3c3;
  border-bottom: 1px solid #c3c3c3;
}

.board__box--2 {
  border-left: 1px solid #c3c3c3;
  border-bottom: 1px solid #c3c3c3;
}

.board__box--3 {
  border-top: 1px solid #c3c3c3;
  border-right: 1px solid #c3c3c3;
  border-bottom: 1px solid #c3c3c3;
}

.board__box--4 {
  border: 1px solid #c3c3c3;
}

.board__box--5 {
  border-top: 1px solid #c3c3c3;
  border-left: 1px solid #c3c3c3;
  border-bottom: 1px solid #c3c3c3;
}

.board__box--6 {
  border-right: 1px solid #c3c3c3;
  border-top: 1px solid #c3c3c3;
}

.board__box--7 {
  border-left: 1px solid #c3c3c3;
  border-right: 1px solid #c3c3c3;
  border-top: 1px solid #c3c3c3;
}

.board__box--8 {
  border-left: 1px solid #c3c3c3;
  border-top: 1px solid #c3c3c3;
}

.board__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10.4rem;
  height: 10.4rem;
  border-radius: 1.6rem;
  cursor: pointer;
}

.board__move img {
  width: 9.65rem;
  height: 9.65rem;
}

/* .line {
  position: absolute;
  background-color: red;
  width: 10px;
  height: 0;
  transform-origin: center;
  display: none;
} */

.line {
  position: absolute;
  height: 1rem;
  transform-origin: 0 50%;
  border-radius: 999px;
  z-index: 10;
}

.game--play__scores {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 2.4rem;
}

.game--play__score {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 1.45rem 0;
  border-radius: 1.6rem;
}

.game--play__score--x {
  background-color: #4fc3f7;
}

.game--play__score--o {
  background-color: #ffc107;
}

.typography--subtext {
  font-size: 1.4rem;
  font-weight: 500;
}

.button--reset {
  background-color: #c5c5c5;
}

.button--reset:hover {
  background-color: #ebebeb;
}

.dialog {
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 6.1rem 0;
  background-color: #6e6e6e;
  z-index: 20;
}

.dialog > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog__result {
  gap: 2.8rem;
  margin-bottom: 3.95rem;
}

.dialog__icon {
  width: 9.65rem;
  height: 9.65rem;
}

.dialog__text {
  text-transform: uppercase;
  font-size: 6.4rem;
  font-weight: 900;
  color: #fff;
}

.dialog__text--x {
  color: #4fc3f7;
}

.dialog__text--o {
  color: #ffc107;
}

.dialog__buttons {
  gap: 2.4rem;
}

.dialog__buttons button {
  width: 264px;
}

@media (width <= 32.2em) {
  /* New game */

  body {
    padding: 0 1.6rem;
  }

  .game--new__logo {
    gap: 1.4rem;
    margin-bottom: 7rem;
  }

  .game--new__icon {
    width: 8.16rem;
    height: 8.16rem;
  }

  .typography--heading-xl {
    font-size: 4.8rem;
  }

  .typography--heading-m {
    font-size: 1.8rem;
    margin-bottom: 2.4rem;
  }

  /* Start game */

  .typography--heading-s {
    font-size: 1.8rem;
    line-height: 1.5;
    margin-bottom: 2.7rem;
  }

  .pick-box {
    padding: 4rem 5.12rem 4rem;
    margin-bottom: 3.2rem;
  }

  .pick-box__choices {
    gap: 1rem;
    margin-bottom: 3.2rem;
  }

  .choice__icon {
    width: 8.91rem;
    height: 8.91rem;
  }

  .typography--text {
    font-size: 1.6rem;
    line-height: normal;
  }

  /* Play game */

  .game--play {
    max-width: 34.3rem;
  }

  .game--play__logo {
    gap: 0.26rem;
  }

  .game--play__turn {
    padding: 1.8rem 0;
    width: 17.6rem;
  }

  .game--play__board {
    padding: 1.6rem;
    margin-bottom: 2rem;
  }

  .board__box {
    padding: 1.6rem;
  }

  .board__cell {
    width: 7.2rem;
    height: 7.2rem;
  }

  .board__move img {
    width: 6.68rem;
    height: 6.68rem;
  }

  .game--play__scores {
    margin-bottom: 1.8rem;
  }

  .game--play__score {
    padding: 0.8rem 0;
  }
}

@media (height <= 37.5em) {
  /* Start game */

  .typography--heading-s {
    margin-bottom: 1.8rem;
  }

  .pick-box__choice {
    gap: 3.15rem;
  }

  .pick-box {
    margin-bottom: 2.4rem;
  }

  .choice__icon {
    width: 6.75rem;
    height: 6.75rem;
  }

  /* Play game */

  .game--play__header {
    margin-bottom: 1.1rem;
  }

  .game--play__logo {
    gap: 0.26rem;
  }

  .game--play__turn {
    padding: 1.2rem 0;
    width: 17.6rem;
  }

  .game--play__board {
    padding: 1.6rem;
    margin-bottom: 1rem;
  }

  .board__box {
    padding: 0.8rem;
  }

  .game--play__scores {
    margin-bottom: 0.9rem;
  }

  .game--play__score {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1.6rem;
  }

  .button--reset {
    padding: 0.8rem 0.6rem;
  }
}
