html {
  font-size: 62.5%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f3f3f3;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
